<section class="flex items-start bg-gray-50">

    <app-auth-aside class="min-h-screen hidden lg:block lg:w-1/2 bg-[#F0F4FC] flex flex-col items-center justify-center rounded-r-[6.25rem] custom-shadow p-[5rem]"></app-auth-aside>
  
    <div class="w-full lg:w-1/2 flex flex-col items-center justify-center  ">
        <app-auth-navbar class="text-center mb-8 ml-auto flex flex-row-reverse justify-evenly m-[5rem]"></app-auth-navbar>
        <router-outlet />
  
        
    </div>
    
  </section>

